* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/*.top {
  position: relative;
  background-image: url(img/illustration.png);
  background-position: 75% 60%;
  background-repeat: no-repeat;
  background-size: 550px;
  height: 768px;
}
.top::before {
  content: "";
  width: 100%;
  height: 768px;
  left: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
} */
.top {
  width: 100%;
  height: 768px;
  left: 0;
  top: 0;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
.navigation-menu {
  padding-top: 42px;
  display: flex;
}
.circles {
  position: relative;
}
.circle {
  position: absolute;
  top: 0;
}
.blue-ellipse {
  left: 0;
  background: #316099;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.white-ellipse {
  left: 15px;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #316099;
  box-sizing: border-box;
}
.contacts {
  margin-left: auto;
}
.top-content {
  background-image: url(img/illustration.png);
  background-position: right top;
  background-repeat: no-repeat;
  margin-top: 115px;
  margin-right: auto;
  height: 500px;
}
.top-text {
  display: flex;
  flex-direction: column;
}
.top-title {
  margin: 0;
  width: 500px;
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.top-title-light {
  margin-top: 30px;
  width: 425px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
}
.top-button {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  padding: 16px;
  position: relative;
  margin-top: 70px;
  color: #ffffff;
  letter-spacing: 0.04em;
  width: 220px;
  height: 56px;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}
.main {
  background-color: #ffffff;
}
.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 64px;
}
.main-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 64px;
  margin-bottom: 64px;
  color: #000000;
}

.main-cards {
  width: 359px;
  height: 480.13px;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.card-1-image {
  margin-left: 70px;
}
.card-2-image {
  margin-left: 116px;
}
.card-3-image {
  margin-left: 94px;
}
.card-image {
  margin-top: 44px;
  height: 120.72px;
}
.main-card__content {
  padding-left: 32px;
}
.main-card__title {
  width: 283px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-bottom: 0px;
  margin-top: 50px;
}
.main-card__desription {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
  width: 268.31px;
  height: 94.2px;
}
.main-card__footer {
  display: flex;
  align-items: center;
  padding-left: 32px;
  margin-top: 30px;
}
/*.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 24px;
  width: 15px;
  height: 15px;
}
.arrow-tip {
  display: inline-flex;
  position: relative;
  width: 10px;
  height: 10px;
  cursor: pointer;
  right: 0;
  border-top: 2px solid #5a98d0;
  border-right: 2px solid #5a98d0;
  transform: rotate(45deg);
}
.arrow-line {
  right: 0;
  display: inline-flex;
  position: absolute;
  width: 16px;
  cursor: pointer;
  border-top: 2px solid #5a98d0;
}
*/
.card-button {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
}
.arrow-image {
  margin-left: 24px;
}
.main-title__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  margin-bottom: 64px;
}
.main-illustrations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin-bottom: 112px;
}
.main-illustrations-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-illustrations-1 {
  display: flex;
  background-image: url(img/illustration-1.png);
  position: relative;
  height: 480px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.main-illustration-title {
  display: flex;
  position: absolute;
  right: 64px;
  top: 64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.main-illustrations-1::before {
  content: " ";
  width: 1140px;
  height: 480px;
  position: absolute;
  background: linear-gradient(
    89.99deg,
    #1f3f68 3.62%,
    rgba(31, 63, 104, 0.37) 97.78%
  );
  border-radius: 10px;
}
.main-illustrations-1::after {
  content: " ";
  width: 1140px;
  height: 480px;
  position: absolute;
  background-image: url(img/Group.svg);
  background-repeat: no-repeat;
}
.main-illustrations-2 {
  display: flex;
  background-image: url(img/illustration-2.png);
  position: relative;
  width: 554px;
  height: 417px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.main-illustrations-2::before {
  content: " ";
  width: 554px;
  height: 480px;
  position: absolute;
  background: linear-gradient(
    308.85deg,
    rgba(66, 165, 245, 0.4) -1.71%,
    rgba(21, 101, 192, 0.6) 74.54%
  );
  border-radius: 10px;
}
.main-illustration-2-title {
  display: flex;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-left: 32px;
  margin-top: 32px;
}
.main-illustrations-3 {
  display: flex;
  background-image: url(img/illustration-3.png);
  position: relative;
  width: 554px;
  height: 417px;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}
.main-illustrations-3::before {
  content: " ";
  width: 554px;
  height: 480px;
  position: absolute;
  background: linear-gradient(
    308.85deg,
    rgba(66, 165, 245, 0.4) -1.71%,
    rgba(21, 101, 192, 0.6) 74.54%
  );
  border-radius: 10px;
}
.footer {
  width: 100%;
  height: 657px;
  left: 0;
  top: 0;
  background-color: #316099;
  position: relative;
}
.footer-line {
  z-index: 100;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 330px;
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 340.96px;
}
.footer-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.6;
  width: 494.77px;
}
.footer-button {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding: 15px;
  font-size: 16px;
  letter-spacing: 0.04em;
  width: 236.63px;
  height: 56px;
  background: #5a98d0;
  cursor: pointer;
  margin-left: auto;
}
.footer-list {
  margin-top: 160px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

ol {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}
li {
  padding-left: 20px;
  width: 316.98px;
  float: left;
  margin: 0 32px;
}
.footer-copyright {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-top: 64px;
  opacity: 0.4;
}
