@media (max-width: 375px) {
  body {
    margin: 0;
  }
  .top__container {
    max-width: 348px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
  }
  .container {
    max-width: 343px;
    margin: 0 auto;
    position: relative;
  }
  .top__banner-title {
    font-size: 24px;
    line-height: 28px;
  }
  .top__banner-description {
    width: 341px;
    font-size: 16px;
    line-height: 30px;
  }
  .main__content-info {
    padding-top: 46px;
  }
  .main__content-form {
    width: 342.67px;
    height: 514px;
    padding: 35px;
    margin-top: 32px;
  }
  .form__name {
    height: 100%;
    width: 100%;
  }
  .form__email {
    margin-top: 20px;
    height: 100%;
    width: 100%;
  }
  .form__message {
    margin-top: 32px;
    height: 100%;
  }
  .form__submit-button {
    height: 46.26px;
    width: 100%;
    margin-top: 46px;
  }
  .main__content-map {
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
    left: -16px;
    width: 375px;
    overflow: visible;
  }
  .footer {
    width: 375px;
    height: 100%;
  }
  .footer__line {
    top: 320px;
  }
  .footer__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer__text {
    margin: 0;
    width: 375px;
  }
  .footer__title {
    margin-top: 18px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .footer__description {
    width: 343px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
  }
  .footer__button {
    margin: 0 auto;
    margin-top: 24px;
  }
  .footer__list {
    margin-left: 0px;
    margin-top: 112px;
  }
  ol {
    display: block;
  }
  li {
    padding-left: 0px;
    width: 304px;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .footer__copyright {
    margin-left: 89px;
    margin-top: 39px;
  }
  .footer__copyright {
    display: flex;
    margin: 0 auto;
    padding-bottom: 0px;
    margin-top: 35px;
  }
}
